<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="wrapper">
        <header class="header brd">Header</header>
        <nav class="navigation brd">Navigation</nav>
        <article class="main brd">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi natus necessitatibus mollitia, ratione, illo saepe sit iusto eveniet hic quidem cupiditate excepturi. In ducimus pariatur accusantium esse velit illo temporibus?
          </p>  
        </article>
        <aside class="aside sidebar brd">Sidebar</aside>
        <footer class="footer brd">Footer</footer>
    </div>
</body>
</html>


